

   <header>
  <section class="container">
    <!-- <h1><a>Sample App</a></h1> -->
    <!-- Hamburger -->
    <div class="entire-menu">
  <input type="checkbox" id="change-hamburguer" />
  <a class="hamburguer" href="#">
    <span></span>
    <label for="change-hamburguer"></label>
  </a>
  <div class="menu">
    <a href="#">Mobile</a>
    <a href="#" onclick="openCalender()">Calender</a>
    <a href="#">Electricity</a>
    <a href="#">Datacard</a>
    <a href="#">Landline</a>
    <p><a href="#">Education</a></p>
  </div>
</div>
<!-- dropdown -->
      <div class="dropdown">
        <a href="index.html">Choose Menu</a>
        <div>
          <ul>
            <li><a href="index.html">Breakfast</a></li>
            <li><a href="index.html">Lunch</a></li>
            <li><a href="index.html">Dinner</a></li>
          </ul>
        </div>
      </div>
    </section>
  </header>
<!-- <script>
// open calender
function openCalender(){
  //alert('calender opened');
  window.open('calender.html', "_self");
}
</script> -->
